<%= form_for @entry do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.select :categories, Category.all.map {|category| [category.name, category.id] } %>
  </div>
  <%= f.submit %>
<% end %>